extends layout

block content
    .container
        .header
            h1= title
        .row
            .column
                .cell
                    p.cell-title Plunge
                    .cell-display
                        p.cell-data( data-id="plunge-message" ) Status: <span/>
                        p.cell-data( data-id="plunge-start-temperature" ) Start Temp: <span/>
                        p.cell-data( data-id="plunge-end-temperature" ) End Temp: <span/>
                        p.cell-data( data-id="plunge-elapsed-time" ) Elapsed Time: <span/>
                        .buttons
                            button.button#plunge-timer(type='button') Start Timer
            .column
                .cell
                    p.cell-title Temperature
                    .cell-display
                        p.cell-data( data-id="current-water-temp" ) Current Water: <span/>
                        p.cell-data( data-id="current-room-temp" ) Current Room: <span/>
        .row
            .column
                .cell
                p.cell-title Ozone Status
                    .cell-display
                        p.cell-data( data-id="ozone-status" ) Satus: <span/>
                        p.cell-data( data-id="ozone-start" ) Start Time: <span/>
                        p.cell-data( data-id="ozone-end" ) End Time: <span/>
                        p.cell-data( data-id="ozone-time-left" ) Time Left: <span/>
                        .buttons
                            button.button#ozone-power(type='button') Start Ozone
            .column
                .cell
                    p.cell-title Leak Present
                    .cell-display
                        p.cell-data(data-id="leak-present") Status: <span/>
            .column
                .cell
                    p.cell-title Pump Status
                    .cell-display
                        p.cell-data(data-id="pump-status") Status: <span/>
                        .buttons
                            button.button#pump-power(type='button') Stop Pump

    script(src="/js/script.js")
