extends layout

block content
    .container
        .header
            h1= title
        .row
            .column
                .cell
                    p.cell-title Temperature
                    .cell-display
                        p.cell-data( data-id="current-water-temp" ) Current Water: <span/>
                        p.cell-data( data-id="current-room-temp" ) Current Room: <span/>

            .column
                .cell
                    p.cell-title Filter
                    .cell-display
                        p.cell-data( data-id="last-filter-data" ) Last Change Date: <span/>
                        div.flatpickr-container
                            form#filter-change-form(action="/api/change-filter", method="POST")
                                label(for="date") Pick a Date:
                                input#filter-change-date(type="text", name="date" data-input placeholder='Select a date')
                                button(type="submit") Submit

        .row
            .column
                .cell
                    p.cell-title Plunge
                    .cell-display
                        p.cell-data( data-id="plunge-message" ) Status: <span/>
                        p.cell-data( data-id="plunge-duration" ) Duration: <span/>
                        p.cell-data( data-id="plunge-remaining-time" ) Remaining Time: <span/>
                        p.cell-data( data-id="plunge-elapsed-time" ) Elapsed Time: <span/>
                        p.cell-data( data-id="plunge-current-temperature" ) Water Temp: <span/>
                        p.cell-data( data-id="plunge-avg-temperature" ) Average Temp: <span/>
                        .buttons
                            button.button#plunge-timer(type='button') Start Timer
            .column
                .cell
                p.cell-title Ozone Status
                    .cell-display
                        p.cell-data( data-id="ozone-status" ) Ozone: <span/>
                        p.cell-data( data-id="ozone-start" ) Start Time: <span/>
                        p.cell-data( data-id="ozone-end" ) End Time: <span/>
                        p.cell-data( data-id="ozone-time-left" ) Time Left: <span/>
                        p.cell-data( data-id="ozone-message" ) Message: <span/>

                        .buttons
                            button.button#ozone-power(type='button') Start Ozone
        .row
            .column
                .cell
                    p.cell-title Leak Present
                    .cell-display
                        p.cell-data(data-id="leak-present") Status: <span/>
            .column
                .cell
                    p.cell-title Pump Status
                    .cell-display
                        p.cell-data(data-id="pump-status") Status: <span/>
                        .buttons
                            button.button#pump-power(type='button') Stop Pump

    script(src="/js/script.js")
    script(src="https://cdn.jsdelivr.net/npm/flatpickr")
    script.flatpickr("#filter-change-date", {
        enableTime: true,
        dateFormat: "F, d Y H:i",
    })
