doctype html
html
  head
    title= title
    script(src="https://code.jquery.com/jquery-3.6.0.min.js")
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css")
    link(rel="stylesheet", href="/css/style.css")
    style.
  body
    block content


